<%- include("partials/head.html")%>

<title>imagen: <%=imagen.Titulo%></title>

<body>

  <%- include("partials/navbar.html")%>

    <div class="container p-4">

        <div class="row">
              <div class="col-md-4 offset-md-4 card">
                <img src="<%=imagen.url%>" class="card-img-top mt-2 alt="...">
                <div class="card-body">
                  
                  <h5 class="card-title"><%=imagen.Titulo%></h5>
                  <p class="card-text"><%=imagen.Description%></p>

                  <% if (locals.usuarioLogueado) { %>
                     <% if (imagen.id_usuario == locals.usuarioLogueado.id) { %>
                      <form action="/image/<%=imagen.id%>/delete" method="post">
                        <button type="" class="btn btn-danger btn-block" onclick="return confirm('¿Estas seguro de que quieres borrar esta imagen?')">Borrar Imagen</button>
                        
                        </form>

                        <a href="/edicion/<%=imagen.id%>" style="text-decoration: none;"><button class="btn btn-dark btn-block mt-2">Editar imagen</button></a>

                        <a href="/subido" style="text-decoration: none;"><button type="button" class="btn btn-primary btn-block mt-2">Volver</button></a>
                    <% } else { %>
                      <a href="/subido" style="text-decoration: none;"><button type="button" class="btn btn-primary btn-block">Volver</button></a>
                      <% } %>

                  <% } %>

                  <% if (!locals.usuarioLogueado) { %>
                    <a href="/subido" style="text-decoration: none;"><button type="button" class="btn btn-primary btn-block">Volver</button></a>

                  <% } %>
                  
                  
                </div>
              </div>

         
        </div>
      </div>
</body>
</html>