<%- include("partials/head.html") %>

<body>
    
    <%- include("partials/navbar.html")%>

    <form action="/edicion/<%=imagen.id%>" method="post" enctype="multipart/form-data" class="formulario-edicion">
        <div class="container p-4" style="background-color: white;">
            <div class="form-group">
                <label for="formGroupExampleInput">Titulo</label>

                <% if (locals.errors && errors.title) { %> 
                  
                  <p class="text-danger"><%= errors.title.msg %></p>
                                
              <% } %>
              <p id="errorTituloP"></p>
                <input type="text" class="form-control" id="titulo" name="title" value="<%=imagen.Titulo%>">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Ingresa una imagen</label>

                <% if (locals.errors && errors.image) { %> 
                  
                  <p class="text-danger"><%= errors.image.msg %></p>
                                
              <% } %>
              <p id="errorImagenP"></p>
                <input type="file" class="form-control" id="imagen" name = "image" [value] = "<%=imagen.url%>">
                <div class="card mt-2" style="width: 18rem;">
                    <img class="card-img-top" src="<%=imagen.url%>" alt="Card image cap">
                    
                  </div>
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Descripcion</label>
                <p id="errorDescripcionP"></p>
                <textarea name="description" id="descripcion" class="form-control"><%=imagen.Description%></textarea>
                <button type="submit" class="btn btn-success btn-block mt-2">Editar</button>
              </div>

              <a href="/subido"><button type="button" class="btn btn-primary">Volver</button></a>
        </div>
      </form>
      

      <script src="../js/formEditImage.js"></script>
</body>