<%- include("partials/head.html")%>

<title>Nueva imagen</title>

<body>

   <%- include("partials/navbar.html")%>



    <form action="/" method="post" enctype="multipart/form-data" class = "Formulario">

      
      

        <div class="container p-4" style="background-color: white;">
            <div class="form-group">
              <% if(locals.error && error.deslogueado) { %>
                <p style="color: crimson; text-align: center;"><%=error.deslogueado.msg%></p>
              <% } %>
      
                <label for="formGroupExampleInput">Titulo</label>
                <% if (locals.errors && errors.title) { %> 
                  
                  <p class="text-danger"><%= errors.title.msg %></p>
                                
              <% } %>
              <p id="errorTitulo"></p>
                <input type="text" class="form-control" id="titulo" name="title" value="<%= locals.old && old.title ? old.title: '' %>">
              </div>
              <div class="form-group">
                
                <label for="formGroupExampleInput2">Ingresa una imagen</label>
                <% if (locals.errors && errors.image) { %> 
                  
                  <p class="text-danger"><%= errors.image.msg %></p>
                                
              <% } %>
              <p id="errorImagen"></p>
                <input type="file" class="form-control" id="imagen" name = "image">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Descripcion</label>
                <% if (locals.errors && errors.description) { %> 
                  
                  <p class="text-danger"><%= errors.description.msg %></p>
                                
              <% } %>
              <p id="errorDescripcion"></p>
                <textarea name="description" id="descripcion" class="form-control"><%= locals.old && old.description ? old.description: '' %></textarea>
                <button type="submit" class="btn btn-primary mt-2">Subir imagen</button>
              </div>
        </div>
        
      </form>

      <script src="../js/formNewImage.js"></script>
</body>
</html>